<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">

<div class="container">

   <h2 class="mt-5">Historique des achats</h2>
   <hr class="divider">

   <table id="table-historic" class="table table-hover mt-3" style="width:100%">
      <thead>
         <tr>
            <th>Transacton ID</th>
            <th>Date</th>
            <th>Shipping</th>
            <th>Subtotal</th>
            <th>Total</th>
         </tr>
      </thead>
      <tbody>
         {{#each transactions}}
            <tr>
               <td>{{id}}</td>
               <td>{{date}}</td>
               <td>${{shippingPrice}}</td>
               <td>${{subtotal}}</td>
               <td>${{total}}</td>
            </tr>
         {{/each}}
      </tbody>
   </table>

</div>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<script>
   $(document).ready(function () {
      $('#table-historic').DataTable({
         "order": [[1, "desc"]] // Trier par la date
      });
   });
</script>